.LoginbodyContact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}
.LoginHeaderParagraph {
  font-size: 60px;
  font-weight: bold;
}
.LoginFormHeader {
  font-size: 27px;
}
.LoginFontSize {
  font-size: 18px;
}
.LoginImagePart {
  background-image: url("../../../assets/Images/v4-image-3359b3ed07320d9ca2c31ca2106f17ea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
