<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="m-5 mt-0 ">
        <p class="pt-5 ps-5 LoginHeaderParagraph text-primary">WUZZUF</p>
      </div>
      <div class="LoginbodyContact">
        <div class="row mt-4">
          <div class=" col-12 ">
            <p class="text-secondary LoginFormHeader mb-3">
              Welcome Back
            </p>
            <hr />
            <form class="row g-3 needs-validation" [formGroup]="LoginForm" (ngSubmit)="SubmitForm()">
              <div class="d-flex justify-content-center">
                <div class="alert alert-danger alert-dismissible fade show mt-3 col-md-5" role="alert"
                  *ngIf="ErrorShow">
                  <strong>Error!</strong> {{ErrorMessage}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    (click)="ErrorShow=false"></button>
                </div>
              </div>
              <div class="col-md-12 col-lg-12">
                <label for="EmailInput"
                  class="form-label d-flex flex-row text-secondary LoginFontSize mt-2">Email</label>
                <input type="email" class="form-control mt-3 " id="Email" name="email" placeholder="Enter your email"
                  [class.is-invalid]="Email?.invalid" [class.is-valid]="Email?.valid" formControlName="email" />
                <div class="alert alert-danger" [hidden]=" Email?.valid ||Email?.untouched">
                  <small *ngIf="Email?.errors?.['required']">
                    Email is required
                  </small>
                </div>
              </div>

              <div class="col-md-12 col-lg-12 col-12">
                <label for="PassInput"
                  class="form-label d-flex flex-row text-secondary LoginFontSize mt-2">Password</label>
                <input type="password" class="form-control mt-3" id="PassInput" name="password"
                  placeholder="Enter password" formControlName="password" [class.is-invalid]="Password?.invalid"
                  [class.is-valid]="Password?.valid" />
                <div class="alert alert-danger" [hidden]="Password?.valid || Password?.untouched">
                  <small *ngIf="Password?.errors?.['required']">
                    Password is required
                  </small>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-8">
                <button class="btn btn-primary col-lg-12 mt-3 LoginFontSize" [disabled]="LoginForm.invalid">
                  Sign in
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 LoginImagePart"></div>
  </div>
</div>