<section class="content mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12 Header mb-4">
        Dashboard
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner p-3">
            <h3>{{TotalUsers}}</h3>

            <p>Users</p>
          </div>
          <div class="icon">
            <fa-icon [icon]="faUser" class="mt-2 me-2 "></fa-icon>
          </div>
          <a [routerLink]="['/Home/usertable']" class="small-box-footer">
            <p class="m-1 p-2">More info <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
            </p>

          </a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner p-3">
            <h3></h3>

            <p>Companies</p>
          </div>
          <div class="icon">
            <fa-icon [icon]="faBuilding" class="mt-2 me-2"></fa-icon>
          </div>
          <a [routerLink]="['/Home/admin']" class="small-box-footer">
            <p class="m-1 p-2">More info <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
            </p>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner p-3">
            <h3>44</h3>

            <p>Jobs</p>
          </div>
          <div class="icon">
            <fa-icon [icon]="faBriefcase" class="mt-2 me-2"></fa-icon>
          </div>
          <a href="#" class="small-box-footer">
            <p class="m-1 p-2">More info <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
            </p>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner p-3">
            <h3>65</h3>

            <p>Job Applications</p>
          </div>
          <div class="icon">
            <fa-icon [icon]="faPaperclip" class="mt-2 me-2"></fa-icon>
          </div>
          <a href="#" class="small-box-footer">
            <p class="m-1 p-2">More info <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>