<div class="row">
    <div class="col-lg-6 mt-3">
        <div class="card card-user">
            <div class="image"><img alt="..." src="assets/Images/damir-bosnjak.jpg"></div>
            <div class="card-body">
                <div class="author"><img alt="..." class="avatar border-gray" [src]="loggedAdmin.imageURL">
                    <h5 class="title text-dark">{{loggedAdmin.name}}</h5>

                    <p class="description  text-dark"> {{loggedAdmin.email}} </p>
                </div>
                <p class="description text-center">
            </div>
            <!-- <div class="card-footer">
                <hr>
                <div class="button-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-6 ml-auto">
                            <h5>12 <br><small>Files</small></h5>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                            <h5>2GB <br><small>Used</small></h5>
                        </div>
                        <div class="col-lg-3 mr-auto">
                            <h5>24,6$ <br><small>Spent</small></h5>
                        </div>
                    </div>
                </div> -->
        </div>
    </div>
    <div class="col-lg col-md-12 mt-3">


        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-dark">Team Members</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled team-members">
                    <li *ngFor="let member of adminList">
                        <div class="row">
                            <div class="col-md-2 col-2">
                                <div class="avatar"><img alt="Circle Image"
                                        class="img-circle img-no-padding img-responsive" [src]="member.imageURL">
                                </div>
                            </div>
                            <div class="col-md-7 col-7 text-dark"> {{member.name}}

                            </div>
                            <div class="col-md-3 col-3 text-right"><a class="text-muted" href="mailto:{{member.email}}"
                                    class="btn btn-sm btn-outline-success btn-round btn-icon">
                                    <mat-icon> email</mat-icon>
                                </a></div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>