<div class="sidebar  sidebar-background " id="navigation">
  <div class="mainbackground">
    <div class="logo">
      <a  class="simple-text ">

        Wuzzuf
      </a>
    </div>
    <div class="sidebar-wrapper">
      <div class="user">
        <div class="photo"><img src={{AdminsList[0].imageURL}}></div>
        <div class="user-info">
          <a data-toggle="collapse" class="collapsed" (click)="sidebarToggle()" aria-expanded="false">
            <span> {{AdminsList[0].name}} <b class="caret">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </b></span></a>
          <div id="collapseExample" class="collapse" [class.show]="isOpen">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link"><span class="sidebar-mini">MP</span><span
                    class="sidebar-normal">My Profile</span></a></li>
              <li class="nav-item"><a class="nav-link"><span class="sidebar-mini">EP</span><span
                    class="sidebar-normal">Edit Profile</span></a></li>
              <li class="nav-item"><a class="nav-link"><span class="sidebar-mini">S</span><span
                    class="sidebar-normal">Settings</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">


        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons">{{menuItem.icon}}</i>
            <p>{{menuItem.title}}</p>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <!-- <div class="sidebar-background"></div> -->


</div>