<div class="container mt-5 mb-5 pb-5 bg-dark text-light">
    <div class="row">
        <div class="col-9 offset-md-2">

            <h2 class="text-center mt-5 text-primary"> Add Company </h2>
            <form [formGroup]="formValue " (ngSubmit)="onSubmit()">
                <div *ngIf="step == 1">
                    <h2> personal details</h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter frist Name</mat-label>
                                <input matInput formControlName="fristName" required>
                            </mat-form-field>
                            <div class="text-danger " [hidden]="fristName?.valid || fristName?.untouched">
                                <small *ngIf="fristName?.errors?.['required']">
                                    Full Name is required
                                </small>
                                <small *ngIf="fristName?.errors?.['pattern']">
                                    Full name must be 3 letters at least, dosn't match.
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter last Name</mat-label>
                                <input matInput formControlName="lastName" required>
                            </mat-form-field>
                            <div class="text-danger " [hidden]="lastName?.valid || lastName?.untouched">
                                <small *ngIf="lastName?.errors?.['required']">
                                    Full Name is required
                                </small>
                                <small *ngIf="lastName?.errors?.['pattern']">
                                    Full name must be 3 letters at least, dosn't match.
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your email</mat-label>
                                <input matInput formControlName="companyEmail" required>
                            </mat-form-field>
                            <div class="text-danger " [hidden]="companyEmail?.valid || companyEmail?.untouched">
                                <small *ngIf="companyEmail?.errors?.['required']">
                                    Email required
                                </small>
                                <small *ngIf="companyEmail?.errors?.['pattern']">
                                    enterr correct email pattern
                                </small>
                                <small class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</small>


                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>

                            <div>
                                <small class="text-danger"
                                    *ngIf="password?.errors?.['required'] && password?.touched">Password is
                                    required.</small>
                                <small class="text-danger" *ngIf="password?.errors?.['pattern'] && password?.touched">
                                    Password must
                                    be at least 6 characters </small>
                                <small class="text-danger" *ngIf="password?.errors?.['pattern'] && password?.touched">
                                    Password must
                                    be at least type digit and letter and some simple </small>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your confirmPassword</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
                                    required>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <small class="text-danger"
                                *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched">
                                Confirm Password is required
                            </small>
                            <small class="text-danger" *ngIf="formValue?.errors?.['notMatchPassword']">
                                Confirm password must match password.
                            </small>
                        </div>
                    </div>
                </div>
                <div *ngIf="step == 2">
                    <h2>company information</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Your title </mat-label>
                                <input matInput formControlName="jobTitle" required
                                    placeholder="eg. HR Manager, CEO, Recruitment Specialist">
                            </mat-form-field>
                            <div>
                                <small class="text-danger"
                                    *ngIf="jobTitle?.errors?.['required'] && jobTitle?.touched">Password is
                                    required.</small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Company name </mat-label>
                                <input matInput formControlName="companyName" required>
                            </mat-form-field>
                            <small class="text-danger"
                                *ngIf="companyName?.errors?.['required'] && companyName?.touched">Password is
                                required.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mt-4">
                            <ng-select class="custom " [items]="companyIndustry" bindLabel="name"
                                placeholder="Company industry - (max. 3) " appendTo="body"
                                formControlName="companyIndustry" [multiple]="true" [(ngModel)]="selected" required>
                            </ng-select>
                            <small class="text-danger"
                                *ngIf="industry?.errors?.['required'] && industry?.touched">industry</small>
                            <small *ngIf="industry?.errors?.['maxLength'] && industry?.touched"> Please select between 1
                                and 3 related industries </small>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Company size(number of employees)</mat-label>
                                <mat-select required formControlName="companySize">
                                    <mat-option *ngFor="let size of companysize" [value]="size.value">
                                        {{size.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <small class="text-danger"
                                *ngIf="companySize?.errors?.['required'] && companySize?.touched">Password is
                                required.</small>
                        </div>
                    </div>
                </div>
                <div *ngIf="step == 3">
                    <h2>company name</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label> About us</mat-label>
                                <textarea matInput formControlName="aboutCompany" required></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-5">
                            <input type="file" value="primary" class="form-control mt-3" name="image"
                                placeholder="Enter image" formControlName="logo" #Image />
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                <button mat-stroked-button *ngIf="step !== 1 " (click)="previousStep()"
                    class="text-light me-4 mt-5">previous</button>

                <button mat-stroked-button class=" me-4 mt-3" *ngIf="step !== 3"
                    [disabled]="password?.errors || confirmPassword?.errors || fristName?.errors || lastName?.errors|| companyEmail?.errors"
                    (click)="NextStep()">Next</button>


                <button [disabled]="formValue.invalid || passwords.invalid" type *ngIf="step == 3" type="submit"
                    class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>



</div>