<div class="alert  alert-danger" *ngIf="message"> {{ message }}</div>
<div class="card card-solid">
    <div class="card-header border-bottom-0">
        <div class="input-group ">
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="search">
            <span class="input-group-text">
              <fa-icon [icon]="faSearch" class=""></fa-icon>
              </span>
          </div>
    </div>
    <div class="card-body pb-0">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch flex-column my-3 " *ngFor="let user of companyUsers | filter:searchText | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
              let i = index">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        {{user.companyIndustry}}

                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="card-title">
                                    {{ user.companyName }}</h2>
                                <div class=" text-muted">
                                    <p class=" text-sm">
                                        <b>About: </b> {{ user.aboutCompany }}
                                    </p>
                                    <p class="text-sm">
                                        <b>company size: </b>{{user.companySize}}
                                    </p>
                                    <ul class="ml-4 mb-0 fa-ul">
                                        <li class="small">
                                            <span class="fa-li">
                                                <mat-icon> email</mat-icon>
                                            </span>
                                            <a class="text-muted" href=`mailto:${user.companyEmail}`>
                                                {{user.companyEmail}}</a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                            <div class="col-5 text-center">
                                <img [src]="user.logo" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a class="btn btn-sm btn-danger" (click)="deleteuser(user.id)">
                                Delete User Account
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>